neo4j==5.14
langchain_groq
python-dotenv
langchain
ipykernel
python-dotenv
langchain-community
langchain-text-splitters
langchain-openai
sentence_transformers
duckdb
pandas
openai
duckduckgo_search==5.3.1b1
validators==0.28.1
streamlit
langchain-groq
numexpr
google-search-results
crewai
crewai_tools
phidata
yfinance
packaging
fastapi
uvicorn
groq
phi

