langchain_groq
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-openai
sentence_transformers
duckdb
pandas
openai
duckduckgo_search==5.3.1b1
validators==0.28.1
streamlit
numexpr
google-search-results
phidata
yfinance
packaging
groq
plotly
google-generativeai
tavily-python
